<div id="duck">

  <h1 id="title"><a href="/">Ask the Duck!</a></h1>

  <div id="ask">
    <form action="/" method="post">
      <input type="text" name="question" autofocus>
      <input type="submit" value="ask" class="button">
    </form>
  </div>


  <div id="bubble">
    <div id="answer">
      <p><%= partial(@answer) %></p>
    </div>
  </div>

</div>
